data/projects/*
!data/projects/.gitkeep
data/db_c/*
!data/db_c/.gitkeep
data/logs/*
!data/logs/.gitkeep
tmp/*
!tmp/.gitkeep

uploads/*
!uploads/.gitkeep
data/genomes/*
!data/genomes/.gitkeep

templates/default/compile/*
!templates/default/compile/.gitkeep

.idea

data/sqlite/master.db
data/sqlite/phpliteadmin.config.php
data/sqlite/phpliteadmin.php
htdocs/.snakemake
.Rproj.user
