#ExpiresActive Off
Header unset Cache-Control:
Header append Cache-Control: "no-cache, must-revalidate"
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
#Header unset Pragma
#Header unset Expires
#Header unset Cache-Control


# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
	<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
		Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>
	<FilesMatch "\.(js)$">
		Header set Cache-Control "max-age=2592000, private"
	</FilesMatch>
	<filesMatch "\.(html|htm)$">
		Header set Cache-Control "max-age=7200, public"
	</filesMatch>
	# Disable caching for scripts and other dynamic files
	<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
		Header unset Cache-Control
	</FilesMatch>
</IfModule>
# END Cache-Control Headers



php_flag register_globals off
php_flag magic_quotes_gpc off

#E_ALL ^ E_NOTICE
php_value error_reporting 6135
php_value display_errors 1

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^$  /index.php?module=home [L]

RewriteRule ^docs/$ docs/index.html [R=301]

#login control
RewriteRule ^login\/?(.*)$ /index.php?module=home&class=login [L,QSA]
RewriteRule ^logout\/?(.*)$ /index.php?module=home&class=logout [L,QSA]
RewriteRule ^create\/?(.*)$ /index.php?module=home&class=create [L,QSA]
RewriteRule ^([a-zA-Z]+)\/?$ /index.php?module=$1 [L,QSA]
RewriteRule ^([a-zA-Z]+)\/([a-z_A-Z]+)\/?$ /index.php?module=$1&class=$2 [L,QSA]
RewriteRule ^([a-zA-Z]+)\/([a-z_A-Z]+)\/([a-z_A-Z]+)\/?$ /index.php?module=$1&class=$2&event=$3 [L,QSA]


#
# Now for the fURLS
#

#api rules (no header/footers



